<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="@T("Plugins.Cameleo.CameleoEvents.logoclass")">&nbsp; </a>
    </div>    
    <div class="search-box" style="display:none;">
        @Html.Action("SearchBox", "Catalog")
    </div>
    <div class="header-selectors-wrapper">
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>

        @Html.Action("HeaderLinks", "Common")
        <!--@Html.Action("FlyoutShoppingCart", "ShoppingCart")-->
            
        <div class="tax-display-type-selector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>        
        @Html.Widget("header_selectors")
    </div>
</div>
